<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 数据源定义，生产库 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${mysql.jdbc.driver}"/>
        <property name="url" value="${mysql.jdbc.url}"/>
        <property name="username" value="${mysql.jdbc.username}"/>
        <property name="password" value="${mysql.jdbc.password}"/>
        <!-- 初始化连接数量 -->
        <property name="initialSize" value="${jdbc.datasource.initialSize}"/>
        <!-- 最大活动连接数量 -->
        <property name="maxActive" value="${jdbc.datasource.maxActive}"/>
        <!-- 最大空闲连接数量 -->
        <property name="maxIdle" value="${jdbc.datasource.maxIdle}"/>
        <!-- 最小空闲连接数量 -->
        <property name="minIdle" value="${jdbc.datasource.minIdle}"/>
        <!-- 是否自动提交 -->
        <property name="defaultAutoCommit" value="false"/>
        <!-- 空闲连接被回收时间，回收空闲连接至minIdle指定数量，单位毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="1800000"/>
        <!-- 检查空闲连接是否可被回收，如果小于等于0，不会启动检查线程，默认-1，单位毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="120000"/>
        <!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
        <property name="numTestsPerEvictionRun" value="3"/>
        <!-- SQL查询,用来验证从连接池取出的连接 -->
        <property name="validationQuery" value="select 1"/>
        <!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除 -->
        <property name="testWhileIdle" value="true"/>
        <!-- 指明是否在从池中取出连接前进行检验,如果检验失败, -->
        <property name="testOnBorrow" value="false"/>
        <!-- 指明是否在归还到池中前进行检验 -->
        <property name="testOnReturn" value="false"/>
        <!-- 标记是否删除泄露的连接，设置为true可以为写法糟糕的没有关闭连接的程序修复数据库连接. -->
        <property name="removeAbandoned" value="true"/>
        <!-- 泄露的连接可以被删除的超时值, 单位秒 -->
        <property name="removeAbandonedTimeout" value="180"/>
        <!-- 将会在回收事件后，在log中打印出回收Connection的错误信息，在调试的时候很有用。 -->
        <property name="logAbandoned" value="true"/>
        <!-- 获取连接时等待时间，超出将抛异常，单位毫秒 -->
        <property name="maxWait" value="10000"/>
        <!--<property name="filters" value="stat" />-->
        <!--<property name="connectionProperties" value="druid.stat.slowSqlMillis=3000" />-->
    </bean>

    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${mysql.jdbc.driver}"/>
        <property name="url" value="${mysql.jdbc.url}"/>
        <property name="username" value="${mysql.jdbc.username}"/>
        <property name="password" value="${mysql.jdbc.password}"/>
        <property name="defaultAutoCommit" value="${jdbc.datasource.defaultAutoCommit}"/>
        <property name="maxIdle" value="${jdbc.datasource.maxIdle}"/>
        <property name="minIdle" value="${jdbc.datasource.minIdle}"/>
        <property name="maxActive" value="${jdbc.datasource.maxActive}"/>
        <property name="removeAbandoned" value="${jdbc.datasource.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${jdbc.datasource.removeAbandonedTimeout}"/>
        <property name="maxWait" value="${jdbc.datasource.maxWait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.datasource.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.datasource.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${jdbc.datasource.validationQuery}"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="filters" value="mergeStat"/>
        <property name="connectionProperties" value="druid.stat.slowSqlMillis=5000"/>
    </bean>
</beans>